@font-face {
    src: url('HARNGTON.TTF');
}

.button {
    -fx-background-color: linear-gradient(#dc9f54, #955824);
    -fx-text-fill: linear-gradient(#0e0b0a, #32320d);
    -fx-font-size: 16;
    -fx-font-family: "Harrington";
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.pagination {
    -fx-text-fill: linear-gradient(#ff8400, #ffdc00);
    -fx-font-size: 15;
    -fx-font-family: "Harrington";
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);

}

.tab-pane{
    -fx-background-color: transparent;
}
.tab{
    -fx-background-color: transparent;
}
.table-view{
    -fx-background-color: transparent;
    -fx-font-size: 18;
    -fx-border-color: #908b30;
    -fx-border-radius: 3px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Harrington";
}
.table-view .column-header-background {
    -fx-background-color: transparent;
}
.table-column{
    -fx-background-color: transparent;;
    -fx-border-width: 1;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}

.table-row-cell,
.table-view .cell:selected {
    -fx-background-color: rgba(0, 0, 0, 0.08);
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
.root {
    -fx-background-image: url('../png/back.png');
    -fx-background-repeat: repeat;
}

#labelLeaderCards {
    -fx-effect: dropshadow(three-pass-box, rgba(243, 235, 233, 0.6), 25, 0.85, 0, 0);
    -fx-font-size: 18;
}

#paymentPane.label,
#paymentPositionQuest>.label,
#paymentCoin, #paymentSerf, #paymentShield, #paymentStone {
    -fx-font-size: 18;
}

#phaseAnnouncementPane>.label,
#playerTurnAnnouncementPane>.label {
    -fx-font-size: 33;
}

.label {
    -fx-font-family: "Harrington";
}







